<!DOCTYPE html>
<html>

<head>
    <title>
        USV Controll
    </title>

    {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'main/libraries/pure_css.css' %}">
    <link rel="stylesheet" href="{% static 'main/libraries/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/libraries/leaflet.css' %}">

    
    <script src="{% static 'main/libraries/leaflet.js' %}"></script>
    <script src="{% static 'main/libraries/jquerry.js' %}"></script>
    <script src="{% static 'main/api.js' %}"></script>
    <script src="{% static 'main/table_updates.js' %}"></script>
    <script src="{% static 'main/main.js' %}"></script>
    <script src="{% static 'main/Chart.bundle.js' %}"></script>
    <script src="{% static 'main/graph.js' %}"></script>
    <script src="{% static 'main/libraries/p5.js' %}"></script>
    <script src="{% static 'main/sketch.js' %}"></script>

</head>

<body>
<div id='mainBody'>
    <div class="pure-g" style="padding: 25px; height: calc(70vh - 50px);">
        <div class="pure-u-1-6" id='can' name='can'></div>
        <div class="pure-u-7-12" style='display: flex;
        justify-content: center;'>
            <!-- <iframe style='position: relative; height: 50%; width: 90%;' src="http://192.168.33.4:8081"></iframe> -->
            <!-- <img src="http://192.168.0.107:8081" style='height: calc(80% - 50px); width: calc(90% - 50px);'> --!>

        </div>
        <div class="pure-u-1-4">
            <div id="mapid" style="height: 75%; margin-bottom: 10px" ></div>
            <script>
                let mymap = L.map('mapid').setView([54.507213,18.544783], 13);
                L.tileLayer("{% static 'main/UMP-pcPL' %}/{z}/{x}/{y}.png", {
                    //attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 25,
                    minZoom: 1,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    maxNativeZoom: 19,
                }).addTo(mymap);
            </script>
            <script src="{% static 'main/map.js' %}"></script>
            <label for="checkbox-radio-option-one" class="pure-checkbox" >
                <input type="checkbox" id="checkbox-radio-option-one" value="1" d/> Center on GPS</label>
            </form>
            <form>
            <label for="waypoints" class="pure-checkbox">
                <input type="checkbox" id="waypoints" value="1" d/> Waypoints</label>
            </form>
            
            
        </div>
    </div>
    <div class='pure-g' style='height: calc(30vh - 50px); padding: 25px;'>
        <div class='pure-u-5-12' style="position: relative;" >
            <div class="chart-container" style="position: relative; height:99%; width:99%">
                <canvas id="wykres"></canvas>
            </div>
        </div>
        <div class='pure-u-1-3'>
            <div id='table'>
                <table class='pure-table pure-table-horizontal' style="margin-left: 15px; width: 90%;">
                    <thead>
                        <tr>
                            <td>
                                Sensor
                            </td>
                            <td>
                                Value
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                PH:
                            </td>
                            <td id='ph'>
                                0
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Turbility:
                            </td>
                            <td id='turbility'>
                                0
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Temperature:
                            </td>
                            <td id='temperature'>
                                0
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Voltage:
                            </td>
                            <td id='voltage'>
                                0
                            </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Latitude:
                            </td>
                            <td id='latitude'>
                                0
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Longitude:
                            </td>
                            <td id='longitude'>
                                0
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class='pure-u-1-4'> 
            <div id='controlls' style="display: flex; flex-direction: column">
                <button class="pure-button" id='send' style="background: rgb(105, 221, 255);">Send waypoints</button>
                <button class="pure-button" id='abort' style="background: rgb(240, 223, 173); margin-bottom: 15px;">Abort</button>
                <button class="pure-button" id='dlmd' >Download map data</button>
                <button class="pure-button" id='dlad' style="margin-bottom: 15px; ">Download all data</button>
                <button class="pure-button" id='rmalldata' style="background: rgb(244, 91, 105); margin-bottom: 20px;">Remove data</button>
                <button class="pure-button" id='gethelp'>Help</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>
