<!DOCTYPE html>
<html>

<head>
    <title>
        USV Controll
    </title>

    {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'main/libraries/pure_css.css' %}">
    <link rel="stylesheet" href="{% static 'main/libraries/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/libraries/leaflet.css' %}">

    <script src="{% static 'main/libraries/p5.js' %}"></script>
    <script src="{% static 'main/sketch.js' %}"></script>
    <script src="{% static 'main/libraries/leaflet.js' %}"></script>
    <script src="{% static 'main/libraries/jquerry.js' %}"></script>
    <script src="{% static 'main/api.js' %}"></script>

</head>

<body>
    <div class="pure-g" style="padding-top: 25px;padding-left: 25px;padding-right: 25px;">
        <div class="pure-u-1-4" id='can' name='can'></div>
        <div class="pure-u-5-8" style='display: flex;
        justify-content: center;'>
            <iframe style='position: relative; height: 50%; width: 90%;' src="https://www.youtube.com/embed/5fEeS9uZb_I"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>
        <div class="pure-u-3-24">
            <table class='pure-table pure-table-horizontal' style="margin-left: 15px;">
                <thead>
                    <tr>
                        <td>
                            Sensor
                        </td>
                        <td>
                            Value
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            PH:
                        </td>
                        <td id='ph'>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Turbility:
                        </td>
                        <td id='turbility'>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Temperature:
                        </td>
                        <td id='temperature'>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Longitude:
                        </td>
                        <td id='longitude'>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Latitude:
                        </td>
                        <td id='latitude'>
                            0
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='pure-g'>
        <div class='pure-u-1-1'>
            <div id="mapid" style="height: 600px;"></div>
            <script>
                let mymap = L.map('mapid').setView([54.538, 17.736], 13);
                L.tileLayer("{% static 'main/UMP-pcPL' %}/{z}/{x}/{y}.jpg", {
                    //attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 19,
                    minZoom: 0,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                }).addTo(mymap);
            </script>
            <script src="{% static 'main/map.js' %}"></script>

        </div>
    </div>
</body>

</html>